body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: Arial;
    color: #484D61;
}

#main_container {
    position: absolute;
    left: 0px;
    top: 0px;
    overflow: hidden;
    cursor: pointer;
}

#map_container {
    position: absolute;
    left: 0px;
    top: 0px;
    overflow: hidden;
}

.map_part {
    position: absolute;
    width: 640px;
    height: 640px;
    opacity: 1;
}


#test_canvas {
    display: none;
}

#tags_canvas {
    position: absolute;
    left: 0px;
    top: 0px;
}

#header {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 35px;
    background: #F3F3F4;
    opacity: 1;
    -webkit-box-shadow: 0px 5px 15px 0px rgba(50, 50, 50, 0.2);
    -moz-box-shadow: 0px 5px 15px 0px rgba(50, 50, 50, 0.2);
    box-shadow: 0px 5px 15px 0px rgba(50, 50, 50, 0.2);
    z-index: 2;
}

h1 {
    margin: 10px 20px 6px 15px;
    font-size: 16px;
}

h1 a {
    color: #484D61;
    text-decoration: none;
}

#info_button {
    position: relative;
    float: right;
    font-size: 12px;
    color: #9A9CA2;
    margin: 12px 15px 0 10px;
    border-bottom: 1px dotted #9A9CA2;
    font-style: italic;
    cursor: pointer;
}

#social_buttons {
    position: relative;
    float: right;
    margin-top: 7px;
}

#social_buttons div {
    position: relative;
    float: right;
    margin-left: 10px;
}

#site_name, #cities {
    position: relative;
    float: left;
}

.city {
    position: relative;
    float: left;
    font-size: 16px;
    color: #484D61;
    padding: 10px 10px 6px;
}

.city.active {
    background: #EAEAEA;
}


#legend {
    position: relative;
    float: right;
    height: 100%;
    width: 401px;
    font-size: 11px;
}

#legend #comment {
    position: relative;
    float: left;
    margin-left: 25px;
    margin-top: 13px;
}

.legendGroup {
    position: relative;
    float: left;
    width: 25px;
    height: 30px;
    border-bottom: 5px solid red;
}

.legendGroup .min {
    position: absolute;
    left: -2px;
    bottom: 5px;
}

.legendGroup .max {
    position: absolute;
    left: 22px;
    bottom: 5px;
}


#copyright {
    position: absolute;
    color: #bdbdbd;
    left: 15px;
    bottom: 0px;
    font-size: 8px;
}

#info_block {
    display: none;
    position: fixed;
    top: 34px;
    right: 0px;
    width: 300px;
    height: 100%;
    background: #F3F3F4;
    z-index: 1;
    font-size: 14px;
    color: #484D61;
    padding: 10px;
    overflow: auto;
}

h2 {
    color: #484D61;
    font-size: 14px;
    margin: 15px 0px 4px;
}

#github {
    position: absolute;
    top: 22px;
    right: 0px;
}