body {
    margin: 0;
    padding: 0;
}

.tag-area {
    position: absolute;
    font-size: 12px;
    border: none;
    word-wrap: break-word;
    text-transform: uppercase;
    line-height: 80%;
    overflow: hidden;
    background: rgba(255,255,255,0.7);
}

.tag-area.count {
    background: black;
    border: none;
}

#map_container {
    position: absolute;
    left: 0px;
    top: 0px;
    overflow: hidden;
}

.map_part {
    position: absolute;
    width: 640px;
    height: 640px;
    opacity: 1;
}