<!doctype html>
<html>
    <head>
        <meta http-equiv="cache-control" content="max-age=0" />
        <meta http-equiv="cache-control" content="no-cache" />
        <meta http-equiv="expires" content="0" />
        <meta http-equiv="expires" content="Tue, 01 Jan 1980 1:00:00 GMT" />
        <meta http-equiv="pragma" content="no-cache" />
        <title>Hashtag Map</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
    </head>
    <body>
        <!--div id="fb-root"></div>
        <script>(function(d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) return;
          js = d.createElement(s); js.id = id;
          js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.0";
          fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script-->

        <div id="main_container">
            <div id="map_container"></div>
            <canvas id="test_canvas" width="100%"></canvas>
            <canvas id="tags_canvas"></canvas>
        </div>
        <div id="header">
            <div id="site_name">
                <h1><a href="{{ url_for('htm_app.index') }}">Hashtag Map</a></h1>
            </div>

            <div id="cities">
                {% for l in location_list %}
                    {% if l.id == location.id %}
                        <div class="city active">
                            {{ l.name }}
                        </div>
                    {% else %}
                        <div class="city">
                            <a href="{{ url_for('htm_app.index', location_name=l.name) }}">{{ l.name }}</a>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>

            <span id="info_button">info</span>

            <div id="legend">
                {% for l in legend %}
                    {% if l['min'] != l['max'] %}
                        <div class="legendGroup" v="{{ l['min'] }}">
                            <span class="min">{{ l['min'] }}</span>
                            {% if loop.last %}
                                <span class="max">{{ l['max'] }}</span>
                            {% endif %}
                        </div>
                    {% endif %}
                {% endfor %}
                <span id="comment">tags for last 24 hours</span>
            </div>

            <!--div id="social_buttons">
                <div id="twitter_button">
                    <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://hashtag-urbanmap.rhcloud.com" data-via="devaikin" data-hashtags="hashtagmap">Tweet</a>
                    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
                </div>

                <div class="fb-like" data-href="http://hashtag-urbanmap.rhcloud.com" data-layout="button_count" data-action="like" data-show-faces="true" data-share="false"></div>
            </div-->
        </div>
        <div id="info_block">
            <div id="github">
                <iframe src="http://ghbtns.com/github-btn.html?user=petr-devaikin&repo=hashtagmap&type=fork&count=false"h allowtransparency="true" frameborder="0" scrolling="0" width="62" height="20">
                </iframe>
            </div>
            <h2>Hashtag Map v. 1.2</h2>
            &copy; 2015 <a href="http://petr-devaikin.github.io/">Petr Devaikin</a><br/>
            Email: <a href="mailto:p.devaikin@gmail.com">p.devaikin@gmail.com</a>

            <h2>Last Update</h2>
            {{ location.pretty_updated() }} ({{ location.timezone }})

            <h2>Ignored Hashtags</h2>
            {{ ', '.join(ignore_list) }}
        </div>

        <script>
            var maximum_count = {{ max_count }};
            var lat_km = {{ location.lat_km() * 1000 }};
            var long_km = {{ location.long_km()  * 1000 }};
            var map_key = "{{ map_key }}";

            var location_name = "{{ location.name }}";

            var MIN_LATITUDE = {{ location.south }};
            var MAX_LATITUDE = {{ location.north }};

            var MIN_LONGITUDE = {{ location.west }};
            var MAX_LONGITUDE = {{ location.east }};

            var MAP_ZOOM = 12,
                legend = {{ legend_json | safe }};

            var groups = {{ groups | safe }};
        </script>
        <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key={{ map_key }}&sensor=false"></script>
        <script src="{{ url_for('static', filename='js/canvas_helpers.js') }}"></script>
        <script src="{{ url_for('static', filename='js/map.js') }}"></script>
        <script src="{{ url_for('static', filename='js/hashtag_group.js') }}"></script>
        <script src="{{ url_for('static', filename='js/tags.js') }}"></script>
        <script src="{{ url_for('static', filename='js/legend.js') }}"></script>
        <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    </body>
</html>
