<!doctype html>
<html>
    <head>
        <title>Hello</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
    </head>
    <body>
        {% for area in areas %}
            {% if area.most_popular_tag_count != None %}
                <div class="tag-area" 
                        area-id="{{ area.id }}"
                        longitude="{{ area.longitude }}"
                        latitude="{{ area.latitude }}"
                        count="{{ area.most_popular_tag_count }}" 
                        radius="{{ area.radius }}"
                        tag="{{ area.most_popular_tag_name }}" >
                    <canvas id="canvas_{{ area.id }}"></canvas>
                </div>
            {% endif %}
        {% endfor %}

        <script>
            var maximum_count = {{ max_count }};
            var lat_km = {{ lat_km }};
            var long_km = {{ long_km }};
        </script>
        <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    </body>
</html>
